
<div class="jumbotron">
	<div class="container">
		<h1 id="titulo1">Titulo</h1>
		<h2 class="titulos">Otro titulo</h2>
		<a href="http://en1mes.com" class="btn btn-success">En1mes <span class="glyphicon glyphicon-edit" style=" color:orange"></a></span>
	</div>
</div>
<div class="container">

	<div class="row">
		<div class="col-md-4">
			<div class="page-header">

			<h2 style="display:inline">Example page header</h2>
			<span class="label label-default">New</span>
			</div>

			<a href="http://en1mes.com" target="_blank"> 
				En1mes en otra paginas</a>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit laboriosam minus debitis, commodi officia mollitia repellat ipsa autem aperiam, quia sint ratione recusandae saepe ad laudantium voluptatem ducimus hic inventore.</p>
				<p> lorem ipsum</p>
				<p> lorem ipsum</p>
				<p> lorem ipsum</p>
			</div>

			<div class="col-md-4">
			<div class="page-header">
			<h2>Example page header</h2>
			</div>
				<h2>subtitulos</h2>
				<p> lorem ipsum</p>
			</div>
	
			<div class="col-md-4">
			<div class="page-header">
			<h2>Example page header</h2>
			</div>
				<h3>sub subtitulo</h3>
				<p> lorem ipsum</p>

				<hr>
				<br>
				<br>
				<br>

				<a href="http://en1mes.com">
					<img src="http://www.en1mes.com/assets/logo-79cc18afeb892865eb97c6b6641f7dc5.png" class="img-responsive">
				</a>

				<ol>
					<li> Item1</li>
					<li> Iteam2</li>
					<li> Iteam 3</li>
				</ol>
			</div>
		</div>
	</div>